.border-bottom-radius-lg {
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}

.border-bottom-radius-md {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.border-bottom-radius-sm {
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

.border-left-radius-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

.border-left-radius-md {
  border-top-left-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
}

.border-left-radius-sm {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}

.border-none {
  border: none;
}

.border-radius-circle {
  border-radius: var(--border-radius-circle);
}

.border-radius-lg {
  border-radius: var(--border-radius-lg);
}

.border-radius-md {
  border-radius: var(--border-radius-md);
}

.border-radius-sm {
  border-radius: var(--border-radius-sm);
}

.border-right-radius-lg {
  border-top-right-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}

.border-right-radius-md {
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.border-right-radius-sm {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

.border-top-radius-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.border-top-radius-md {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.border-top-radius-sm {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.border-transparent {
  border-color: transparent;
}

.border-radius-top-sm {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.border-radius-top-md {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.border-radius-top-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.border-width-sm {
  border-width: 1px;
}

.border-width-md {
  border-width: 2px;
}

.border-width-lg {
  border-width: 3px;
}

.border-width-xl {
  border-width: 4px;
}
