.grid-auto-fit-lg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.grid-auto-fit-md {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.grid-auto-fit-sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}

.grid-auto-fit-xl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
}

.grid-column-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-column-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.grid-column-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-column-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-column-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-column-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-column-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-column-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
